<%= form_for(@pelati) do |f| %>
  <% if @pelati.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pelati.errors.count, "error") %> prohibited this pelati from being saved:</h2>

      <ul>
      <% @pelati.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :onoma %><br>
    <%= f.text_field :onoma %>
  </div>
  <div class="field">
    <%= f.label :epitheto %><br>
    <%= f.text_field :epitheto %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
