<h1>Listing pelatis</h1>

<table>
  <thead>
    <tr>
      <th>Onoma</th>
      <th>Epitheto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pelatis.each do |pelati| %>
      <tr>
        <td><%= pelati.onoma %></td>
        <td><%= pelati.epitheto %></td>
        <td><%= link_to 'Show', pelati %></td>
        <td><%= link_to 'Edit', edit_pelati_path(pelati) %></td>
        <td><%= link_to 'Destroy', pelati, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pelati', new_pelati_path %>
