<p id="notice"><%= notice %></p>

<p>
  <strong>Onoma:</strong>
  <%= @pelati.onoma %>
</p>

<p>
  <strong>Epitheto:</strong>
  <%= @pelati.epitheto %>
</p>

<%= link_to 'Edit', edit_pelati_path(@pelati) %> |
<%= link_to 'Back', pelatis_path %>
