<%= form_for(@paragelium) do |f| %>
  <% if @paragelium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@paragelium.errors.count, "error") %> prohibited this paragelium from being saved:</h2>

      <ul>
      <% @paragelium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :drinks %><br>
    <%= f.text_area :drinks %>
  </div>
  <div class="field">
    <%= f.label :food %><br>
    <%= f.text_area :food %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
