<h1>Listing paragelia</h1>

<table>
  <thead>
    <tr>
      <th>Drinks</th>
      <th>Food</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @paragelia.each do |paragelium| %>
      <tr>
        <td><%= paragelium.drinks %></td>
        <td><%= paragelium.food %></td>
        <td><%= link_to 'Show', paragelium %></td>
        <td><%= link_to 'Edit', edit_paragelium_path(paragelium) %></td>
        <td><%= link_to 'Destroy', paragelium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Paragelium', new_paragelium_path %>
