<p id="notice"><%= notice %></p>

<p>
  <strong>Drinks:</strong>
  <%= @paragelium.drinks %>
</p>

<p>
  <strong>Food:</strong>
  <%= @paragelium.food %>
</p>

<%= link_to 'Edit', edit_paragelium_path(@paragelium) %> |
<%= link_to 'Back', paragelia_path %>
